@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
.login-body {
  background-color: #001432;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
}
.login-body .login-container {
  width: 400px;
}
.login-body .login-container .panel {
  border: 1px solid #e5e5e5;
  margin-top: 20%;
}
.login-body .login-container .panel img {
  width: 170px;
  margin-top: 25px;
}
.login-body .login-container .panel .panel-heading {
  background-color: #fff;
  border-bottom: 0;
}
.login-body .login-container .panel .panel-body {
  padding: 20px 30px 25px 30px;
}
.login-body .login-container .panel .panel-body .left-inner-addon {
  position: relative;
}
.login-body .login-container .panel .panel-body .left-inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #001432;
}
.login-body .login-container .panel .panel-body .left-inner-addon input {
  padding-left: 35px;
}
.login-body .login-container .panel .panel-body .left-inner-addon input:focus {
  border-color: #bdbdbd;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 255, 0.5);
}
.login-body .login-container .panel .panel-body .btn-default {
  padding: 10px;
  border: 2px solid #001432;
  color: #001432;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 15px;
}
.login-body .login-container .panel .panel-body .input-icon {
  padding-left: 35px;
  padding-right: 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.login-body .login-container .panel .panel-body .msg-red {
  color: #FA2A00;
  text-align: center;
  margin-top: -15px;
}
.login-body .footer {
  color: #fff;
}
