@import '../../color.less';

@fuente-login:'RobotoDraft', 'Roboto', sans-serif;
@gris-login: #e5e5e5;


.login-body{background-color:@colorbase; font-family: @fuente-login;
    .login-container{width: 400px;
        .panel{border: 1px solid @gris-login; margin-top: 20%;
            img{width: 170px;margin-top: 25px;}
            .panel-heading{background-color: #fff;border-bottom: 0;}
            .panel-body{padding:20px 30px 25px 30px;
                .left-inner-addon{position: relative;
                    i{position: absolute; padding: 10px; pointer-events: none; color: @colorbase}
                    input{padding-left: 35px;}
                    input:focus{border-color:#bdbdbd; box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(255,100,255,0.5);}
                }
                .btn-default{padding:10px;border:2px solid @colorbase; color:@colorbase; margin-top:5px; margin-bottom: 15px; font-size: 15px;}
                .input-icon{padding-left: 35px;padding-right: 12px;border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                .msg-red{color:@colorRed;text-align: center;margin-top: -15px;}
            }
        }
    }
    .footer{color: #fff}
}
