@import url(https://fonts.googleapis.com/css?family=Courgette);

@colorbase: #001432;
@colorcomp: #008bd6;
@darkGray:#3E3D3D;
@fuente-form:"Helvetica Neue", Helvetica, Arial, sans-serif;
@bordeprueba: 1px solid red;
@font-courgette : 'Courgette', cursive;
@colorRed: #FA2A00;
@colorGray: #F5F6FA;