@import 'color.less';

.border-top-primary{border-top:2px solid @colorbase}
.border-top-default{border-top:2px solid @colorcomp}
.border-top-danger{border-top:2px solid @colorRed}
.border-top-success{border-top:2px solid #5CB85C}

.mb-0 {margin-bottom: 0 !important;}
.mb-1 {margin-bottom: .25rem !important;}
.mb-2 {margin-bottom: .5rem !important;}
.mb-3 {margin-bottom: .1rem !important;}
.mb-4 {margin-bottom: 1.5rem !important;}
.mb-5 {margin-bottom: 2rem !important;}
.mb-6 {margin-bottom: 2.5rem !important;}
.mt-0 {margin-top: 0 !important;}

.color-danger{color: #FA2A00 !important;}
.color-success{color: #5CB85C !important;}
.color-primary{color: @colorbase !important;}
.color-comp{color: @colorcomp !important;}
.color-gray{color: #c9c9c9 !important;}
.color-warning{color: #FABE28 !important;}
.color-white{color: #fff !important;}

.bb-alert {position: fixed;bottom: 15%;right: 0;margin-bottom: 0;font-size: 1.2em;padding: 1em 1.3em; z-index: 4000; -webkit-animation-delay: 3s; -moz-animation-delay: 3s;}

.acciones{padding: 0; font-size: 17px;
    li{list-style: none;display: inline-block;} 
}

.active2{a{color: @colorcomp !important;}}

.form-insert{   
    .form-group {margin-bottom: 5px;
        [class*="col-"] {margin-bottom: 10px !important;}
    }
    .deposito{margin-bottom: 10px;}
}

.select2{width: 100% !important;}

.right-inner-addon {position: relative;
    input {padding-right: 35px;}
    svg{margin: 10px auto;position: absolute;right: 0;margin-right: 10px;}
    //.fa-search{position: absolute;right: 0px;padding: 10px 10px;pointer-events: none;}
}

.card-header-danger{background-color: #FA2A00;}
.card-header-success{background-color: #5CB85C;}

.btn-outline-primary{color: @colorbase !important;border:1px solid @colorbase;border-radius: 50%;margin-right: 5px;padding: 6px 10px !important;};
