{% set dir= baseUrl ~ "/views" %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ dir }}/assets/images/favicon.png"/>
    <title>{% block title %}Titulo{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/bootstrap/bootstrap.min.css" />
    {#<link rel="stylesheet" type="text/css" href="{{ dir }}/assets/fonts/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/fonts/font-awesome/all.min.css" /> #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/animate/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/flat-blue.css" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        {% include '/include/menu.html.twig' %}

        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row cabecera">
                    <div  class="col-xs-7 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="page-title">
                            <span class="title"><h2>{% block titleDash %}{% endblock %}</h2></span>
                            <div class="description">{% block infoDash %}{% endblock %}</div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
                        <div class="btn-nuevo">
                            <!-- BT nuevo y buscador -->
                            {% block nuevo %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% block row %}{% endblock %}

                <!-- Tabla -->
                {#<div class="row">
                    <div class="col-xs-12">
                        {% block tabla %}{% endblock %}
                    </div>
                </div>#}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ dir }}/assets/library/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/library/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/fonts/font-awesome/all.min.js"></script>
<script type="text/javascript" src="{{ dir }}/assets/js/pages/all.js"></script>
{% block javascripts %}{% endblock %}

</body>
</html>