<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <img src="{{ dir }}/assets/images/logo.png" class="logo-img">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
            <li>
                <a href="" role="button" aria-expanded="false" class="color-danger" style="font-size: 17px">
                    <i class="fa fa-calendar"></i>
                </a>
            </li>
            <li class="dropdown profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuario <span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeInDown">
                    <li class="profile-img">
                        <img src="" class="profile-img">
                    </li>
                    <li>
                        <div class="profile-info">
                            <h4 class="username">{{ user['user'] | upper }}</h4>
                            <p>{{ user['user'] }}@elantiguoadm.com</p>
                            <div class="btn-group margin-bottom-2x" role="group">
                                <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Perfil</button>
                                <a href="{{ urlFor('logout') }}" class="btn btn-default"><i class="fa fa-sign-out-alt"></i> Salir</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <div class="icon fa fa-laptop"></div>
                    <div class="title">Administrador</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ urlFor('dashboard', {'mes':mes|date("m"), 'anho':anho|date("Y")}) }}">
                            <sapan class="icon fa fa-chart-pie"></sapan><span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ urlFor('inventory') }}">
                            <span class="icon fa fa-cubes"></span><span class="title">Inventario</span>
                        </a>
                    </li>

                {% if user.idrol == 1 %}
                    <li>
                        <a href="">
                            <span class="icon fa fa-arrow-down"></span><span class="title">Gastos</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ urlFor('ingress') }}">
                            <span class="icon fa fa-money-bill-alt"></span><span class="title">Ingresos</span>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <span class="icon fa fa-file"></span><span class="title">Presupuesto</span>
                        </a>
                    </li>
                    {# <li>
                        <a href="">
                            <span class="icon fa fa-shopping-cart"></span><span class="title">Pedidos</span>
                        </a>
                    </li> #}
                    <li>
                        <a href="">
                            <span class="icon fa fa-wrench"></span><span class="title">Maquinarias</span>
                        </a>
                    </li>

                    <!-- Dropdown Reportes -->
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-materiales">
                            <span class="icon fa fa-list"></span><span class="title">Reportes</span>
                        </a>
                        <!-- Lista Materiales -->
                        <div id="dropdown-materiales" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="">Reporte Inventario</a></li>
                                    <li><a href="">Reporte Stock</a></li>
                                    <li><a href="">Reporte Ingreso</a></li>
                                    <li><a href="">Reporte Egreso</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Dropdown ABM-Complete -->
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-abm">
                            <span class="icon fa fa-archive"></span><span class="title">Categorias</span>
                        </a>
                        <!-- Lista AMB -->
                        <div id="dropdown-abm" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ urlFor('stock') }}">Productos Stock</a></li>
                                    <li><a href="{{ urlFor('product') }}">Productos</a></li>
                                    <li><a href="{{ urlFor('feature') }}">Caracteristicas</a></li>
                                    <li><a href="{{ urlFor('measure') }}">Medidas</a></li>
                                    <li><a href="">Categorías de Maquinarias</a></li>
                                    <li><a href="{{ urlFor('employed') }}">Empleados</a></li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Dropdown ABM-Contable -->
                    <li class="panel panel-default dropdown">
                        <a data-toggle="collapse" href="#dropdown-contable">
                            <span class="icon fa fa-file-invoice-dollar"></span><span class="title">Contables</span>
                        </a>
                        <!-- Lista AMB -->
                        <div id="dropdown-contable" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ urlFor('customer') }}">Clientes</a></li>
                                    <li><a href="{{ urlFor('provider') }}">Proveedores</a></li>
                                    <li><a href="">Documentos</a></li>
                                    <li><a href="">Timbrados</a></li>
                                    <li><a href="{{ urlFor('plan') }}">Plan de Cuenta</a></li>
                                    <li><a href="">Usuarios</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>