{% extends '/base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
{% endblock %}

{% block titleDash %}Proveedores{% endblock %}
{% block infoDash %}Alta, baja y modificaciones de los Proveedores{% endblock %}

{% block nuevo %}
    <a id="btn-new" class="btn btn-primary pull-right mt-5" data-toggle="modal" data-target="#modal-insert-provider"><i class="fa fa-plus"></i> NUEVO</a>

    <div class="modal fade" id="modal-insert-provider" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-user"></i> REGISTRAR PROVEEDOR</h4>
                </div>

                <form class="form-horizontal" name="insert-provider" method="post" action="{{ urlFor('insert-provider') }}" data-toggle="validator">
                <input type="hidden" name="id" value="0"> 
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Proveedor</label>   
                        <div class="col-sm-10">
                            <input type="text" name="provider"  class="form-control text-uppercase" autocomplete="off" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">RUC / CI</label>
                        <div class="col-sm-10">
                            <input type="text" name="ruc" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Contacto</label>
                        <div class="col-sm-10">
                            <input type="text" name="contact" class="form-control text-uppercase"  autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Celular</label>
                        <div class="col-sm-10">
                            <input type="text" name="cellphone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Localidad</label>
                        <div class="col-sm-10">
                            <input type="text" name="location" class="form-control text-uppercase" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-10">
                            <input type="text" name="address" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" autocomplete="off" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btn-insert" type="submit"  class="btn btn-wd btn-info" value="INSERTAR" />
                </div>
                </form>
            </div>
        </div>
    </div> 
{% endblock %}


{% block row %}
<div class="row">
   
    <div class="col-lg-12 col-md-12">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Proveedores</div>
                </div>
                <div class="pull-right">
                    <form class="form-horizontal mt-0" method="post" action="{{ urlFor('search-provider') }}" role="search">
                        <div class="pull-right">
                            <div class="right-inner-addon">
                                <i class="fa fa-search"></i>
                                <input type="text" name="buscar" class="form-control" value="" placeholder="Buscar..">
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>PROVEEDOR</th>
                            <th>RUC</th>
                            <th>CONTACTO</th>
                            <th>CELULAR</th>
                            <th>TELEFONO</th>
                            <th>LOCALIDAD</th>
                            <th>DIRECCION</th>
                            <th>EMAIL</th>
                            <th class="text-center">EDITAR / ELIMINAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in proveedor %}
                            <tr>
                                <td class="id-provider">{{ dato.id_proveedor }}</td>
                                <td class="provider">{{ dato.proveedor|upper }}</td>
                                <td class="ruc">{{ dato.ruc }}</td>
                                <td class="contact">{{ dato.contacto|upper }}</td>
                                <td class="cellphone">{{ dato.celular }}</td>
                                <td class="phone">{{ dato.telefono }}</td>
                                <td class="location">{{ dato.ciudad|upper }}</td>
                                <td class="address">{{ dato.direccion }}</td>
                                <td class="email">{{ dato.email }}</td>
                                <td class="text-center">
                                    <ul class="acciones">
                                        <li>
                                            <a class="update-provider" href="" data-toggle="modal" data-target="#modal-insert-provider"><i class="fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                           <a href="#" data-href="{{ urlFor('update-state-provider',{id:dato.id_proveedor}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt color-danger"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/include/modal-delete.html.twig' %}
{% include '/include/alert.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/money/moneda.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/categorias/proveedor/provider.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(12)').addClass('active');
        $('.side-menu li:eq(18)').addClass('active2');
    </script>
{% endblock %}