.filters .th-title {
  font-size: 14px;
  padding-bottom: 12px;
}
.filters input {
  height: 29px;
}
.filters input[disabled] {
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding-top: 12px;
}
.filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}
.filters input[disabled]::-moz-placeholder {
  color: #333;
}
.filters input[disabled]:-ms-input-placeholder {
  color: #333;
}
