.filters{
    .th-title{font-size: 14px;padding-bottom: 12px;}
    input{height: 29px;}
    input[disabled] {width:100px;background-color: transparent;border: none;cursor: auto;box-shadow: none;padding-top: 12px;}
    input[disabled]::-webkit-input-placeholder {color: #333;}
    input[disabled]::-moz-placeholder {color: #333;}
    input[disabled]:-ms-input-placeholder {color: #333;}
}
