{% extends '/base.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/filter-table/filtertable.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
{% endblock %}

{% block titleDash %}Empleados{% endblock %}
{% block infoDash %}Alta, baja y modificaciones de los empleados{% endblock %}

{% block nuevo %}
    <a id="btn-new" class="btn btn-primary pull-right mt-5" data-toggle="modal" data-target="#modal-insert-employed"><i class="fa fa-plus"></i> NUEVO</a>

    <div class="modal fade" id="modal-insert-employed" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-user"></i> REGISTRAR EMPLEADO</h4>
                </div>

                <form class="form-horizontal" name="search-ingress" method="post" action="{{ urlFor('insert-employed') }}" data-toggle="validator">
                <input type="hidden" name="id" value="0"> 
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Nombre</label>   
                        <div class="col-sm-10">
                            <input type="text" name="name"  class="form-control text-uppercase" autocomplete="off" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Nacimiento</label>
                        <div class="col-sm-10">
                            <input type="date" name="date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">CI Nº</label>
                        <div class="col-sm-10">
                            <input type="text" name="identification" class="form-control moneda"  autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Ciudad</label>
                        <div class="col-sm-10">
                            <input type="text" name="city" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Cargo</label>
                        <div class="col-sm-10">
                            <input type="text" name="position" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Sueldo</label>
                        <div class="col-sm-10">
                            <input type="text" name="salary" autocomplete="off" class="form-control moneda">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btn-insert" type="submit"  class="btn btn-wd btn-info" value="INSERTAR" />
                </div>
                </form>
            </div>
        </div>
    </div> 
{% endblock %}


{% block row %}
<div class="row">
   
    <div class="col-lg-12 col-md-12">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Empleados</div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span> Filtro</button>
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="filters">
                            <th>CODIGO</th>
                            <th><input type="text" placeholder="NOMBRE" disabled></th>
                            <th>CI Nº</th>
                            <th>NACIMIENTO</th>
                            <th>CIUDAD</th>
                            <th>TELEFONO</th>
                            <th>CARGO</th>
                            <th>SUELDO</th>
                            <th class="text-center">EDITAR / ELIMINAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in empleado %}
                            <tr>
                                <td class="id-employed">{{ dato.id_empleado }}</td>
                                <td class="name">{{ dato.nombre|upper }}</td>
                                <td class="identification">{{ dato.ci|number_format(0, ',', '.') }}</td>
                                <td class="date">{{ dato.nacimiento | date('Y-m-d') }}</td>
                                <td class="city">{{ dato.ciudad|upper }}</td>
                                <td class="phone">{{ dato.telefono }}</td>
                                <td class="position">{{ dato.cargo|upper }}</td>
                                <td class="salary">{{ dato.sueldo|number_format(0, ',', '.') }}</td>
                                <td class="text-center">
                                    <ul class="acciones">
                                        <li>
                                            <a class="update-employed" href="" data-toggle="modal" data-target="#modal-insert-employed"><i class="fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                           <a href="#" data-href="{{ urlFor('update-state-employed',{id:dato.id_empleado}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt color-danger"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/include/modal-delete.html.twig' %}
{% include '/include/alert.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/filter-table/filtertable.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/money/moneda.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/categorias/empleado/employed.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(11)').addClass('active');
        $('.side-menu li:eq(19)').addClass('active2');
    </script>
{% endblock %}