{% extends '/base.html.twig' %}

{% block title %}Ingresos {% endblock %}
{% block stylesheets %}
    <link href="{{ dir }}/assets/library/select2/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
    <link href="{{ dir }}/assets/css/pages/ingress/ingress.css" rel="stylesheet"/>
{% endblock %}


{% block titleDash %} 
     <a class="btn btn-outline-primary" href="{{ urlFor('ingress') }}"><i class="fa fa-arrow-left"></i></a>
     Cargar Detalle
{% endblock %}


 {% block row %}
    <div class="row detail-order">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="group-border">

                        <div class="legend col-md-12">
                            <div class="col-xs-7"><h3><i class="fa fa-file"></i> Factura Venta</h3></div>
                            <div class="col-xs-5">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Timbrado </label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="timbrado">
                                            {% for entity in timbrado %}
                                                <option value="{{ entity.id_timbrado }}">{{ entity.numero }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="form-horizontal" name="insert-activo" method="post" action="{{ urlFor('insert-activo') }}" data-toggle="validator">

                            <input type="hidden" name="stamp" value="1" />
                            <input type="hidden" name="document" value="1" />
                            <input type="hidden" name="idactivo" value="{{ activo.idactivo }}" />
                            <input type="hidden" name="condicion" value="{{ activo.condicion }}" />
                            <input type="hidden" name="id-cliente" value="{{ activo.id_cliente }}" />
                            <input type="hidden" name="id-plan" value="{{ activo.id_plan_cuenta }}" />

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="NumDoc">Fecha </label>
                                        <input id="fecha_factura" type="date" name="date" class="form-control"  value="{{ activo.fecha|date('Y-m-d') }}" required />                                        
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="ProcessNum">Condicion de Venta</label>
                                        <select class="form-control custom-select" name="condition">
                                            <option value="1" selected>Contado </option>
                                            <option value="2">Credito</option>
                                        </select>                                         
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="State">Nº Factura </label>
                                        <input type="text" name="fac-number" class="form-control" placeholder="000-000-0000000" autocomplete="off" value="{{ activo.nro_factura }}"  required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="Date">Nota de Remision N° </label>
                                        <input class="form-control" type="text" name="remission" placeholder="000-000-0000000" autocomplete="off" value="{{ activo.remision }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-inline">
                                        <label class="control-label" for="Date">Cliente </label>
                                        <select id="sl-customer" class="form-control select2" name="customer" title="Cliente"  style="width: 100%">
                                            {% for entity in cliente %}
                                                <option value="{{ entity.id_cliente }}">{{ entity.cliente|upper }}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>  
                                </div>
                                <div class="col-lg-1">
                                    <button type="button" id="btn-add-customer" data-toggle="modal" data-target="#modal-insert-customer" class="btn btn-primary mt-5" style="background-color:#001432"><i class="fa fa-user-plus"></i></button>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="form-inline">
                                        <label class="control-label" for="Date">Afectar a </label>
                                        <select class="form-control select2" name="plan" title="Plan de Cuenta"  style="width: 100%">
                                            {% for entity in plan %}
                                                <option value="{{ entity.id_plan_cuenta }}">{{ entity.plan|upper }}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>      
                                </div>  
                                <div class="col-lg-1">
                                    <button type="button" id="btn-add-plan" data-toggle="modal" data-target="#modal-insert-plan" class="btn btn-primary mt-5" style="background-color:#001432"><i class="fa fa-plus"></i></button>
                                </div>  
                                <div class="col-lg-2">
                                    <div class="form-inline">
                                        <input name="btn-insert" type="submit" style="width: 100%" class="btn btn-info mt-6" value="ACTUALIZAR" />
                                    </div>
                                </div>                              
                            </div>

                        </form>   

                    </fieldset>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" >
                <div class="card detail">
                    <div class="card-header border-top-primary">
                        <div class="title-facute col-md-6 col-lg-6 col-sm-6">
                            <h5>DETALLE</h5>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            {# <h5 class="text-right" style="color: red" >TOTAL: <span id="total-fac">0</span> </h5> #}
                         </div>
                    </div>

                    <div class="card-body">
                        <div class="col-xs-12" style="padding-top: 15px;">
                            <form class="form-inline" name="detalle-activo" role="form" method="post" action="{{ urlFor('insert-detalle-activo') }}">
                                <input type="hidden" name="id-activo" value="{{ activo.idactivo }}" />
                                <div class="form-group col-xs-2">
                                    <input type="text" class="form-control moneda detail-activo" name="quantity" autocomplete="off" placeholder="cantidad" required  />
                                </div>
                                <div class="form-group col-xs-5">
                                    <input list="list-productos" name="detail" class="form-control detail-activo" required title="Detalle del Producto"  />
                                </div>
                                <div class="form-group col-xs-2">
                                    <input type="text" class="form-control moneda detail-activo" name="cost" autocomplete="off" placeholder="costo" required />
                                </div>
                                <div class="form-group col-xs-2">
                                    <select class="form-control custom-select" name="tax">
                                        <option value="1">IVA 10%</option>
                                        <option value="2">IVA 5%</option>
                                        <option value="3">EXENTA</option>
                                        <option value="4">DESCUENTO</option>
                                    </select> 
                                </div>
                                <div class="form-group col-xs-1">
                                    <input type="submit" name="btn-insert-detalle" class="btn btn-info" value="INSERTAR" />
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tabla-factura" class="table table-hover">
                                        <thead>
                                            <tr class="table-cabecera">
                                                <th>CANTIDAD</th>
                                                <th>PRODUCTO</th>
                                                <th>COSTO</th>
                                                <th>IVA 10%</th>
                                                <th>IVA 5%</th>
                                                <th>EXENTA</th>
                                                <th>TOTAL</th>
                                                <th class="text-center"> ELIMINAR</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-detalle">
                                         {% for dato in detalle %}
                                            <tr>
                                                <td>{{ dato.cantidad }}</td>
                                                <td>{{ dato.detalle|upper }}</td>
                                                <td>{{ dato.costo|number_format(0, ',', '.') }}</td>
                                                <td>{{ dato.iva_diez|number_format(0, ',', '.') }}</td>
                                                <td>{{ dato.iva_cinco|number_format(0, ',', '.') }}</td>
                                                <td>{{ dato.exenta|number_format(0, ',', '.') }}</td>
                                                <td>{{ dato.totales|number_format(0, ',', '.') }}</td>
                                                <td class="text-center">
                                                    <a href="#" data-href="{{ urlFor('delete-detalle-activo',{idactivo:dato.idactivo, id:dato.id_detalle_activo}) }}" 
                                                    data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt color-danger"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}   
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td><td></td><td></td>
                                                <td>{{ total.iva_diez|number_format(0, ',', '.') }}</td>
                                                <td>{{ total.iva_cinco|number_format(0, ',', '.') }}</td>
                                                <td>{{ total.exenta|number_format(0, ',', '.') }}</td>
                                                <td>{{ total.totales|number_format(0, ',', '.') }}</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

         <div class="container-fluid mt-5">
            <a class="btn btn-success" href="{{ urlFor('ingress') }}"><i class="fa fa-arrow-left"></i> TERMINAR FACTURA</a>
        </div>
    </div>

    {% include '/include/modal-delete.html.twig' %}
    {% include '/contables/cliente/modal-insert-customer.html.twig' %}
    {% include '/contables/plan-cuenta/modal-insert-plan.html.twig' %}
</div>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/money/moneda.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/ingress/ingress.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/contables/cliente/add-customer.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(3)').addClass('active');
        $('#sl-customer').select2();
        $('input[name="quantity"]').focus();
        
        var idCondicion = $('input[name="condicion"]').val();
        $("select[name='condition']").val(idCondicion).change();

        var idCustomer = $('input[name="id-cliente"]').val();
        $("#sl-customer").val(idCustomer).change();

         var plan = $('input[name="id-plan"]').val();
        $("select[name='plan']").val(plan).change();
        
    </script>   

{% endblock %} 