{% extends '/base.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/filter-table/filtertable.css" /> 
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/pages/ingress/ingress.css" />
{% endblock %}

{% block titleDash %}Ventas > {{ fechas.mes }} / {{ fechas.anho }}{% endblock %}
{% block infoDash %}Facturas de ventas del mes{% endblock %}

{% block nuevo %}
    <a class="btn btn-success pull-right" href=""><i class="fa fa-file"></i> RECIBOS</a>
    <a id="new" class="btn btn-primary pull-right" href="{{ urlFor('ingress-facture') }}"><i class="fa fa-plus"></i> NUEVA FACTURA</a>
{% endblock %}


{% block row %}


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Ventas</div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span> Filtro</button>
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="filters">
                            <th class="text-center">ESTADO</th>
                            <th><input type="text" placeholder="FECHA" disabled></th>
                            <th><input type="text" placeholder="NRO.FACTURA" disabled></th>
                            <th><input type="text" placeholder="CLIENTE" disabled></th>
                            <th><input type="text" placeholder="RUC" disabled></th>
                            <th><input type="text" placeholder="TIMBRADO" disabled></th>
                            <th>CONDICION</th>
                            <th class="text-center">ABM</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in ingress %}
                            <tr>
                                {% if dato.estado=='1' %}
                                    <td class="text-center" style="font-size:14px"><i class="fa fa-check-circle color-success"></i></td>
                                {% else %}
                                    <td class="text-center" style="font-size:14px"><i class="fa fa-times-circle color-danger"></i></td>
                                {% endif %}
                                <td>{{ dato.fecha|date("d-m-Y") }}</td>
                                <td>{{ dato.nro_factura }}</td>
                                <td>{{ dato.cliente|upper }}</td>
                                <td>{{ dato.ruc|upper }}</td>
                                <td>{{ dato.numero }} </td>
                                <td class="badge badge-pill badge-success">{{ dato.condicion|lower }}</td>
                                <td class="text-center acciones">
                                    <ul>
                                        <li><a href="{{ urlFor('ingress-update-facture',{id:dato.idactivo}) }}" ><i class="fa fa-eye"></i></a></li>
                                        <li><a href="{{ urlFor('ingress-update-facture',{id:dato.idactivo}) }}" ><i class="fa fa-edit"></i></a></li>
                                        <li><a class="color-danger" href="#" data-href="{{ urlFor('null-activo', {id:dato.idactivo,pagina:"ingress"}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-times delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Anular Factura-->
<div class="modal fade modal-danger" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Desea anular esta Factura?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <a class="btn btn-danger btn-ok">SI</a>
            </div>
        </div>
    </div>
</div>

{% include '/include/alert.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/filter-table/filtertable.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(3)').addClass('active');

        $(document).on('keyup', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 113){
                var url = $('#new').attr("href");
                $(location).attr('href',url);;
            }
        });
    </script>
{% endblock %}