{% extends '/base.html.twig' %}

{% block title %}Ingresos{% endblock %}
{% block stylesheets %}
    <link href="{{ dir }}/assets/library/select2/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
    <link href="{{ dir }}/assets/css/pages/ingress/ingress.css" rel="stylesheet"/>
{% endblock %}


{% block titleDash %} 
     <a class="btn btn-outline-primary" href="{{ urlFor('ingress') }}"><i class="fa fa-arrow-left"></i></a>
     Cargar Factura
{% endblock %}


{% block row %}
    <div class="row detail-order">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="group-border">

                        <div class="legend col-md-12">
                            <div class="col-xs-7"><h3><i class="fa fa-file"></i> Factura Venta</h3></div>
                            <div class="col-xs-5">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Timbrado </label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="timbrado">
                                            {% for entity in timbrado %}
                                                <option value="{{ entity.id_timbrado }}">{{ entity.numero }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <form class="form-horizontal" name="insert-activo" method="post" action="{{ urlFor('insert-activo') }}" data-toggle="validator">

                            <input type="hidden" name="stamp" value="1" />
                            <input type="hidden" name="document" value="1" />

                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="NumDoc">Fecha </label>
                                        <input id="fecha_factura" type="date" name="date" class="form-control"  value="{{ now|date('Y-m-d') }}" required />                                        
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="ProcessNum">Condicion de Venta</label>
                                        <select class="form-control custom-select" name="condition">
                                            <option value="1" selected>Contado </option>
                                            <option value="2">Credito</option>
                                        </select>                                         
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="State">Nº Factura </label>
                                        <input type="text" name="fac-number" class="form-control" placeholder="000-000-0000000" autocomplete="off"  required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-inline">
                                        <label class="control-label" for="Date">Nota de Remision N° </label>
                                        <input class="form-control" type="text" name="remission" placeholder="000-000-0000000" autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-inline">
                                        <label class="control-label" for="Date">Cliente </label>
                                        <select id="sl-customer" class="form-control select2" name="customer" title="Cliente"  style="width: 100%">
                                            {% for entity in cliente %}
                                                <option value="{{ entity.id_cliente }}">{{ entity.cliente|upper }}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>  
                                </div>
                                <div class="col-lg-1">
                                    <button type="button" id="btn-add-customer" data-toggle="modal" data-target="#modal-insert-customer" class="btn btn-primary mt-5" style="background-color:#001432"><i class="fa fa-user-plus"></i></button>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="form-inline">
                                        <label class="control-label" for="Date">Afectar a </label>
                                        <select class="form-control select2" name="plan" title="Plan de Cuenta"  style="width: 100%">
                                            {% for entity in plan %}
                                                <option value="{{ entity.id_plan_cuenta }}">{{ entity.plan|upper }}</option>
                                            {% endfor %}
                                        </select>  
                                    </div>      
                                </div>  
                                <div class="col-lg-1">
                                    <button type="button" id="btn-add-plan" data-toggle="modal" data-target="#modal-insert-plan" class="btn btn-primary mt-5" style="background-color:#001432"><i class="fa fa-plus"></i></button>
                                </div>  
                                <div class="col-lg-2">
                                    <div class="form-inline">
                                        <input name="btn-insert" type="submit" style="width: 100%" class="btn btn-info mt-6" value="INSERTAR" />
                                    </div>
                                </div>                              
                            </div>

                        </form>    
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row" >
                <div class="card">
                    <div class="card-header border-top-primary">
                        <div class="title-facute col-md-6 col-lg-6 col-sm-6">
                            <h5>DETALLE</h5>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            {# <h5 class="text-right" style="color: red" >TOTAL: <span id="total-fac">0</span> </h5> #}
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-xs-12" style="padding-top: 15px;">
                            <form class="form-inline" name="detalle-activo" role="form" method="post" action="">
                                <input type="hidden" name="id-activo" />
                                <div class="form-group col-xs-2">
                                    <input type="text" class="form-control moneda detail-activo" name="cantidad" autocomplete="off" placeholder="cantidad" disabled  />
                                </div>
                                <div class="form-group col-xs-6">
                                    <input list="list-productos" name="producto" class="form-control detail-activo" required title="Detalle del Producto" disabled />
                                </div>
                                <div class="form-group col-xs-2">
                                    <input type="text" class="form-control moneda detail-activo" name="costo" autocomplete="off" placeholder="costo" disabled />
                                </div>
                                <div class="form-group text-right col-xs-2">
                                    <input type="submit" name="btn-insert-detalle" class="btn btn-info" value="INSERTAR" disabled />
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tabla-factura" class="table table-hover">
                                        <thead>
                                            <tr class="table-cabecera">
                                                <th>CANTIDAD</th>
                                                <th>PRODUCTO</th>
                                                <th>COSTO</th>
                                                <th>MONTO 10%</th>
                                                <th>MONTO 5%%</th>
                                                <th>EXENTA</th>
                                                <th>TOTAL</th>
                                                <th class="text-center"> ELIMINAR</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-detalle"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# <div class="card-footer">
                        <div class="col-xs-12" style="padding-top: 15px;">
                             <form class="form-inline" name="update-descuento" role="form" method="post" action="{{ urlFor('update-descuento') }}">
                                <input id="id-activo" type="hidden" name="id-activo" />
                                <div class="form-group col-xs-10">
                                    <input type="text" class="form-control moneda discount" name="discount" autocomplete="off" placeholder="Descuento" disabled />
                                </div>
                                <div class="form-group col-xs-2">
                                    <input type="submit" class="btn btn-info discount" value="INSERTAR" style="width: 100%"  disabled/>
                                </div>
                            </form> 
                        </div>
                    </div> #}
                </div>
            </div>
        </div>

         <div class="container-fluid mt-5">
            <a class="btn btn-success" href="{{ urlFor('ingress') }}"><i class="fa fa-arrow-left"></i> TERMINAR FACTURA</a>
        </div>
    </div>

    {% include '/contables/cliente/modal-insert-customer.html.twig' %}
    {% include '/contables/plan-cuenta/modal-insert-plan.html.twig' %}
    {% include '/include/alert.html.twig' %}

</div>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/ingress/ingress.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/contables/cliente/add-customer.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(3)').addClass('active');
        $('.select2').select2();
        $('input[name="date"]').focus();
    </script>
{% endblock %}