{% extends '/base.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/data-table/dataTables.bootstrap.min.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/data-table/buttons.dataTables.min.css" />    
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/pages/ingress/ingress.css" />
{% endblock %}

{% block titleDash %}Ventas > {{ fechas.mes }} / {{ fechas.anho }}{% endblock %}
{% block infoDash %}Facturas de ventas del mes{% endblock %}

{% block nuevo %}
    <a class="btn btn-success pull-right" href=""><i class="fa fa-file"></i> RECIBOS</a>
    <a class="btn btn-primary pull-right" href=""><i class="fa fa-plus"></i> NUEVA FACTURA</a>
{% endblock %}


{% block row %}

{# <div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Facturas</div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span> Filtro</button>
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="filters">
                            <th style="width:50px"><input type="text" placeholder="CONDICION" disabled></th>
                            <th>FECHA</th>
                            <th><input type="text" placeholder="NRO FACTURA" disabled></th>
                            <th><input type="text" placeholder="CLIENTE" disabled></th>
                            <th>TOTAL</th>
                            <th>IVA</th>
                            <th class="text-center">ACCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in ingress %}
                            <tr>
                                <td class="badge badge-pill badge-success">{{ dato.condicion|lower }}</td>
                                <td class="fecha-factura">{{ dato.fecha|date("d-m-Y") }}</td>
                                <td class="nro-factura">{{ dato.nro_factura }}</td>
                                <td class="provider">{{ dato.cliente|upper }}</td>
                                <td class="text-danger">{{ dato.total|number_format(0, ',', '.') }} </td>
                                <td>{{ dato.iva|number_format(0, ',', '.') }} </td>
                                <td class="text-center acciones">
                                    <ul>
                                        <li><a href="{{ urlFor('ingress-update-facture',{id:dato.idactivo}) }}" ><i class="fa fa-pencil-square-o"></i></a></li>
                                        <li><a href="#" data-href="{{ urlFor('null-activo', {id:dato.idactivo,pagina:"ingress"}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-times delete"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="col-sm-3">
            <h4><i class="fa fa-arrow-up"></i>FACTURAS Gs.: {{ totalFactura|number_format(0, ',', '.') }}</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="color-success"><i class="fa fa-money"></i> CONTADO Gs.: {{ totalContado|number_format(0, ',', '.') }}</h4>
        </div>
        <div class="col-sm-3 blue">
            <h4 class="color-primary"><i class="fa fa-file-text-o"></i> CREDITO Gs.: {{ totalCredito|number_format(0, ',', '.') }}</h4>
        </div>
        <div class="col-sm-3">
            <h4 class="text-right">IVA MES Gs.: {{ totalIva|number_format(0, ',', '.') }}</h4>
        </div>
    </div>


</div> #}

<div class="row">
    <div class="card">
        <div class="card-header bg-success">
            <div class="card-title">
                <h4 class="title"><i class="fa fa-table"></i> LIBRO VENTAS</h4>
            </div>
        </div>
        <div class="card-body">
            <table class="datatable table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>FECHA</th>
                    <th>NRO. FACTURA</th>
                    <th>CLIENTE</th>
                    <th>RUC</th>
                    <th>TIMBRADO</th>
                    <th>CONDICION</th>
                    <th>MONTO 10</th>
                    <th>MONTO 5</th>
                    <th>GRAV 10</th>
                    <th>GRAV 5</th>
                    <th>IVA 10</th>
                    <th>IVA 5</th>
                    <th>EXENTA</th>
                    <th>TOTAL</th>
                    <th class="text-center">ABM</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>FECHA</th>
                    <th>NRO. FACTURA</th>
                    <th>CLIENTE</th>
                    <th>RUC</th>
                    <th>TIMBRADO</th>
                    <th>CONDICION</th>
                    <th>MONTO 10</th>
                    <th>MONTO 5</th>
                    <th>GRAV 10</th>
                    <th>GRAV 5</th>
                    <th>IVA 10</th>
                    <th>IVA 5</th>
                    <th>EXENTA</th>
                    <th>TOTAL</th>
                    <th class="text-center">ABM</th>
                </tr>
                </tfoot>
                <tbody>
                {% for dato in ingress %}
                    <tr>
                        <td>{{ dato.fecha|date("d-m-Y") }} </td>
                        <td>{{ dato.nro_factura }} </td>
                        <td>{{ dato.cliente|upper }} </td>
                        <td>{{ dato.ruc}} </td>
                        <td>{{ dato.timbrado }} </td>
                        <td>{{ dato.condicion|upper }} </td>
                        <td>{{ dato.monto_diez|number_format(0, ',', '.') }} </td>
                        <td>{{ dato.monto_cinco|number_format(0, ',', '.') }} </td>
                        <td>{{ (dato.monto_diez/1.1)|number_format(0, ',', '.') }} </td>
                        <td>{{ (dato.monto_cinco/1.05)|number_format(0, ',', '.') }} </td>
                        <td>{{ dato.iva_diez|number_format(0, ',', '.') }} </td>
                        <td>{{ dato.iva_cinco|number_format(0, ',', '.') }} </td>
                        <td>{{ dato.monto_cinco|number_format(0, ',', '.') }} </td>
                        <td>{{ 950000|number_format(0, ',', '.') }} </td>                        
                        <td class="text-center acciones">
                            <ul>
                                <li><a href="" ><i class="fa fa-eye"></i></a></li>
                                {# <li><a href=""><i class="fa fa-print"></i></a></li> #} 
                            </ul>
                        </td>                   
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal Anular Factura-->
<div class="modal fade modal-danger" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel">Desea anular esta Factura?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                <a class="btn btn-danger btn-ok">SI</a>
            </div>
        </div>
    </div>
</div>

{% include '/include/alert.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ dir }}/assets/library/data-table/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/buttons.html5.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/pdfmake.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/jszip.min.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/vfs_fonts.js" type="text/javascript"></script>
    <script src="{{ dir }}/assets/library/data-table/buttons.colVis.min.js" type="text/javascript"></script>    
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(3)').addClass('active');
    </script>
{% endblock %}