{% extends '/base.html.twig' %}

{% block title %}Marcas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/filter-table/filtertable.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
{% endblock %}

{% block titleDash %}Marcas{% endblock %}
{% block infoDash %}Alta, baja y modificaciones de las marcas de productos{% endblock %}


{% block row %}
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card ">
            <div class="card-header border-top-primary">
                <div class="card-title">
                    <div class="title"><i class="fa fa-cog"></i> Cargar Marcas</div>
                </div>
            </div>
            <div class="card-body">
                 <form class="form" name="insert-brand" role="form" method="post" action="{{ urlFor('insert-brand') }}">

                    <div class="form-group">
                        <label for="brand">Marca</label>
                        <input type="text" name="brand"  class="form-control text-uppercase" autocomplete="off" required> 
                    </div>

                    <button type="submit" class="btn btn-primary">INSERTAR</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Marcas</div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span> Filtro</button>
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="filters">
                            <th>CODIGO</th>
                            <th><input type="text" placeholder="MARCA" disabled></th>
                            <th class="text-center">EDITAR / ELIMINAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in marca %}
                            <tr>
                                <td class="id-brand">{{ dato.id_marca }}</td>
                                <td class="brand">{{ dato.marca|upper }}</td>
                                <td class="text-center">
                                    <ul class="acciones">
                                        <li class="update-brand">
                                            <a href="" data-toggle="modal" data-target="#modal-update-brand"><i class="fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                           <a href="#" data-href="{{ urlFor('update-state-brand',{id:dato.id_marca}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt color-danger"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Marca-->
    <div class="modal fade" id="modal-update-brand" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-edit"></i> MODIFICAR MARCA</h4>
                </div>
                <div class="modal-body">
                    <!-- Modal Form -->
                    <form class="form-horizontal" name="update-brand" method="post" action="{{ urlFor('update-brand') }}" data-toggle="validator">
                        <input type="hidden" id="id" name="id" required />

                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label">Marca</label>
                            <div class="col-sm-9">
                                <input type="text" name="brand-update" autocomplete="off" class="form-control" required/>
                            </div>
                        </div>

                        <div class="text-right"><input id="guardar" type="submit" value="ACTUALIZAR" class="btn btn-info"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% include '/include/modal-delete.html.twig' %}
{% include '/include/alert.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/filter-table/filtertable.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/categorias/marca/brand.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(12)').addClass('active');
        $('.side-menu li:eq(15)').addClass('active2');
    </script>
{% endblock %}