.badge {border-radius:1em;margin:0 0.25em;padding: 5px !important; margin-top: 5px;}

table{
    th { font-size: 12px; }
    td { font-size: 11px; }
}

.legend{background-color: #001432; color: white;margin-bottom: 20px;
    h3{margin-top: 15px;}
    .form-group{margin-bottom: 0;margin-top: 15px;
        select{padding: 1px 6px;height: 25px;}
    }
}

.form-inline{
    .form-control{width: 100%;}
}

.detail{
    .card-body{padding: 15px;
        .btn{margin-top:0;background-color: transparent;color: #001432;border: 1px solid #001432;}
        .table-responsive{padding-left:30px;margin-top:20px;
            tfoot{color: #FA2A00 ;}
        }
    }
}