{% extends '/base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block titleDash %}Proveedor{% endblock %}
{% block infoDash %}Tabla de los gastos realizado en este proveedor{% endblock %}

{% block tabla %}
    <div class="egress card filterable">
        <div class="card-header filterable">
            <div class="card-title">
                <h4 class="title"><i class="fa fa-truck"></i> DETALLE DE: <span class="color-comp">{{ fecha.proveedor }} {{ fecha.mes }} / {{ fecha.anho }}</span></h4>
            </div>
            <div class="pull-right">
                <h4 class="color-danger">Total: {{ fecha.total|number_format }}</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr class="filters">
                        <th>#</th>
                        <th>FECHA</th>
                        <th>NRO. FACTURA</th>
                        <th>PRODUCTO</th>
                        <th>CANTIDAD</th>
                        <th>COSTO UNITARIO</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dato in table %}
                        {% set counter=counter + 1 %}
                        <tr>
                            <td>{{ counter }}</td>
                            <td>{{ dato.fecha|date("d-m-Y") }}</td>
                            <td>{{ dato.nro_factura }}</td>
                            <td>{{ dato.producto|upper }}</td>
                            <td>{{ dato.cantidad }}</td>
                            <td>{{ dato.costo|number_format }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="padding-left: 0; padding-top: 15px">
        <a class="btn btn-primary pull-left" href="{{ urlFor('table-egress',{'mes':fecha.mes,'anho':fecha.anho }) }}" style="background-color: #fff; color:#001432;"><i class="fa fa-arrow-circle-left"></i> PROVEEDORES</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/filter-table/filtertable.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/table-sorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(0)').addClass('active');
    </script>
{% endblock %}