{% extends '/base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/filter-table/filtertable.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/select2/select2.min.css" />
{% endblock %}

{% block titleDash %}Stock{% endblock %}
{% block infoDash %}Carga de productos al inventario{% endblock %}

{% block nuevo %}
    {% include '/include/alert.html.twig' %}
{% endblock %}


{% block row %}
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card ">
            <div class="card-header border-top-primary">
                <div class="card-title">
                    <div class="title"><i class="fa fa-cog"></i> Cargar Stock</div>
                </div>
            </div>
            <div class="card-body">
                 <form class="form form-insert" name="insert-stock" role="form" method="post" action="{{ urlFor('insert-stock') }}">
                   
                    <div class="form-group deposito">
                        <label for="lugar">Deposito</label>
                        <div class="custom-control custom-radio">
                            <label class="radio-inline"><input class="custom-control-input" type="radio" name="deposit" value="1" checked>Adentro</label>
                            <label class="radio-inline"><input class="custom-control-input" type="radio" name="deposit" value="2">Afuera</label>
                            <label class="radio-inline"><input class="custom-control-input" type="radio" name="deposit" value="3">Salon</label>
                            <label class="radio-inline"><input class="custom-control-input" type="radio" name="deposit" value="4">Patio</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="product">Producto</label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select id="sl-product" class="form-control select2"  name="product">
                                    {% for entity in producto %}
                                        <option value="{{ entity.id_producto }}">{{ entity.producto|upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-2"> 
                                <a href="{{ urlFor('product') }}" class="btn btn-primary mt-0 mb-0"><i class="fa fa-plus"></i></a>
                            </div> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="medida">Medidas</label>
                        <div class="row">
                            <div class="col-xs-5">
                                <input type="text" name="measure"  class="form-control upper" required>
                            </div>
                            <div class="col-xs-5">
                               <select class="form-control select2" name="unity">
                                    {% for entity in medida %}
                                        <option value="{{ entity.id_medida }}">{{ entity.medida }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                            <div class="col-xs-2"> 
                                <a href="{{ urlFor('measure') }}" class="btn btn-primary mt-0 mb-0"><i class="fa fa-plus"></i></a>
                            </div> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="caracteristica">Característica</label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select class="form-control select2" name="features">
                                    {% for entity in caracteristica %}
                                        <option value="{{ entity.id_caracteristica }}">{{ entity.caracteristica|upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-2"> 
                                <a href="{{ urlFor('feature') }}" class="btn btn-primary mt-0 mb-0"><i class="fa fa-plus"></i></a>
                            </div> 
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="caracteristica">Cantidad</label>
                                <input type="number" name="quantity"  class="form-control" required>
                             </div>
                             <div class="col-xs-6">
                                <label for="cantidad">Stock Minimo</label>
                                <input type="number" name="minimum"  class="form-control" required>
                             </div>   
                        </div> 
                    </div>

                    <div class="form-group">
                        <div class="row">
                             <div class="col-xs-6">
                                <label for="ubicacion">Ubicación</label>
                                <input type="text" name="location"  class="form-control text-uppercase" required>
                             </div>
                             <div class="col-xs-6">
                                <label for="costo">Costo</label>
                                <input type="text" name="cost"  class="form-control moneda" required>
                             </div>   
                        </div> 
                    </div>

                    <button type="submit" class="btn btn-primary">INSERTAR</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
          <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla Stock</div>
                </div>
                 <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span> Filtro</button>
                </div>
            </div>
            <div class="card-body">
             <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="filters">
                            <th>CODIGO</th>
                            <th><input type="text" placeholder="PRODUCTO" disabled></th>
                            <th>CANTIDAD</th>
                            <th>UBICACION</th>
                            <th>COSTO</th>
                            <th>MINIMO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in stock %}
                            <tr>
                                <td class="code">{{ dato.codigo }}</td>
                                <td class="product">{{ dato.producto|upper }}</td>
                                <td class="quantity">{{ dato.cantidad }}</td>
                                <td class="location">{{ dato.ubicacion }}</td>
                                <td class="cost">{{ dato.costo }}</td>
                                <td class="minimum">{{ dato.stock_min }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include '/include/alert.html.twig' %}

{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/filter-table/filtertable.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/money/moneda.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/stock/stock.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(11)').addClass('active');
        $('.side-menu li:eq(12)').addClass('active2');

        $('.select2').select2();
    </script>
{% endblock %}