 <div class="modal fade" id="modal-insert-plan" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-file-alt"></i> REGISTRAR PLAN DE CUENTA</h4>
                </div>

                <form class="form-horizontal" name="insert-plan" method="post" action="{{ urlFor('insert-plan') }}" data-toggle="validator">
                <input type="hidden" name="id" value="0"> 
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Codigo</label>   
                        <div class="col-sm-6">
                            <input type="text" name="code"  class="form-control" autocomplete="off" required> 
                        </div>     
                        <label for="title" class="col-sm-2 control-label">Nivel</label>   
                        <div class="col-sm-2">
                            <input type="text" name="level"  class="form-control" autocomplete="off" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Plan</label>
                        <div class="col-sm-10">
                            <input type="text" name="plan" class="form-control text-uppercase"  autocomplete="off">
                        </div>
                    </div>
                <div class="modal-footer">
                    <input id="btn-insert" type="submit"  class="btn btn-wd btn-info" value="INSERTAR" />
                </div>
                </form>
            </div>
        </div>
    </div> 