{% extends '/base.html.twig' %}

{% block title %}Plan de Cuentas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
{% endblock %}

{% block titleDash %}Plan de Cuentas{% endblock %}
{% block infoDash %}Alta, baja y modificaciones del Plan de Cuenta{% endblock %}

{% block nuevo %}
    <a id="btn-new" class="btn btn-primary pull-right mt-5" data-toggle="modal" data-target="#modal-insert-plan"><i class="fa fa-plus"></i> NUEVO</a>
{% endblock %}


{% block row %}
<div class="row">
   
    <div class="col-lg-12 col-md-12">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla Plan de Cuentas</div>
                </div>
                <div class="pull-right">
                    <form class="form-horizontal mt-0" method="post" action="{{ urlFor('search-plan') }}" role="search">
                        <div class="pull-right">
                            <div class="right-inner-addon">
                                <i class="fa fa-search"></i>
                                <input type="text" name="buscar" class="form-control" value="" placeholder="Buscar..">
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>CODIGO</th>
                            <th>PLAN</th>
                            <th>NIVEL</th>
                            <th class="text-center">EDITAR / ELIMINAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in plan %}
                            <tr>
                                <td class="id-plan">{{ dato.id_plan_cliente }}</td>
                                <td class="code">{{ dato.codigo }}</td>
                                <td class="plan">{{ dato.plan|upper }}</td>
                                <td class="level">{{ dato.nivel }}</td>
                                <td class="text-center">
                                    <ul class="acciones">
                                        <li>
                                            <a class="update-plan" href="" data-toggle="modal" data-target="#modal-insert-plan"><i class="fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                           <a href="#" data-href="{{ urlFor('update-state-plan',{id:dato.id_plan_cuenta}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt color-danger"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/contables/plan-cuenta/modal-insert-plan.html.twig' %}
{% include '/include/modal-delete.html.twig' %}
{% include '/include/alert.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/money/moneda.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/contables/plan-cuenta/add-plan.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/contables/plan-cuenta/plan.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(12)').addClass('active');
        $('.side-menu li:eq(17)').addClass('active2');
    </script>
{% endblock %}