{% extends '/base.html.twig' %}

{% block title %}Inventario{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/filter-table/filtertable.css" />
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/library/select2/select2.min.css" />
{% endblock %}

{% block titleDash %}Inventario > Salidas{% endblock %}
{% block infoDash %}Registra las salidas del inventario{% endblock %}

{% block nuevo %}
  <div class="form-group">
        <div class="row" style="margin-top:30px">
            <div class="col-xs-10">
                <select id="sl-product" class="form-control select2"  name="product">
                    {% for entity in producto %}
                        <option value="{{ entity.codigo }}">{{ entity.producto|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-2"> 
                <a href="{{ urlFor('stock') }}" class="btn btn-danger mt-0 mb-0"><i class="fa fa-plus"></i></a>
            </div> 
        </div>
    </div>
{% endblock %}

{% block row %}
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card ">
            <div class="card-header card-header-danger">
                <div class="card-title">
                    <div class="title color-white"><i class="fa fa-cog"></i> Cargar Salida</div>
                </div>
                <div class="pull-right mt-2"><a href="{{ urlFor('entry') }}" class="btn btn-success btn-xs"> ENTRADA</a></div>
            </div>
            <div class="card-body">
                 <form class="form form-insert" name="insert-inventory" role="form" method="post" action="{{ urlFor('insert-inventory') }}">
                    <input type="hidden" name="movement" value="0" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-10">
                                <label for="codigo">Codigo</label>
                                <input type="namber" name="code" class="form-control" required>
                            </div>
                            <div class="col-xs-2">
                                <a href="" class="btn btn-danger mt-5 mb-0"><i class="fa fa-barcode"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="empleado">Empleado</label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select id="sl-employed" class="form-control select2"  name="employed" >
                                    {% for entity in empleado %}
                                        <option value="{{ entity.id_empleado }}">{{ entity.nombre|upper }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-2"> 
                                <a href="{{ urlFor('product') }}" class="btn btn-danger mt-0 mb-0"><i class="fa fa-plus"></i></a>
                            </div> 
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="fecha">Fecha</label>
                                <input type="date" name="date" value="{{ now|date('Y-m-d') }}"  class="form-control" required>
                             </div>
                             <div class="col-xs-6">
                                <label for="motivo">Cantidad</label>
                                <input type="number" name="quantity" class="form-control" required>
                             </div>   
                        </div> 
                    </div>    

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-9">
                                <label for="fecha">Motivo</label>
                                <input type="text" name="reason" class="form-control" required>
                             </div>
                             <div class="col-xs-3">
                                <div class="form-check">
                                    <label for="fecha">Pendiente</label>
                                    <input type="checkbox" name="pending" class="form-check-input" >
                                </div>
                             </div>   
                        </div> 
                    </div>  
                    
                    <button type="submit" class="btn btn-danger">INSERTAR</button>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8">
          <div class="card filterable">
            <div class="card-header border-top-danger">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Salidas</div>
                </div>
                 <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="fa fa-filter"></span> Filtro</button>
                </div>
            </div>
            <div class="card-body">
             <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr class="filters">
                            <th class="text-center">E/S</th>
                            <th><input type="text" placeholder="FECHA" disabled></th>
                            <th><input type="text" placeholder="PRODUCTO" disabled></th>
                            <th class="text-center">CANTIDAD</th>
                            <th><input type="text" placeholder="EMPLEADO" disabled></th>
                            <th><input type="text" placeholder="MOTIVO" disabled></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in inventario %}
                            <tr>
                                <td><i class="text-center fa fa-arrow-circle-down" style="color:#FA2A00"></i></td>
                                <td>{{ dato.fecha|date('d-m-Y') }}</td>
                                <td>{{ dato.producto|upper }}</td>
                                <td class="text-center">{{ dato.cantidad }}</td>
                                <td>{{ dato.nombre|upper }}</td>
                                <td>{{ dato.motivo|upper }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% include '/include/alert.html.twig' %}
{% endblock %}



{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/filter-table/filtertable.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/quagga/quagga.min.js"></script>
    {#<script src="https://serratus.github.io/quaggaJS/v1.0.0-beta.1/examples/js/quagga.js"></script>#}
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/inventario/inventory.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(1)').addClass('active');
        $('.select2').select2();
    </script>
{% endblock %}
