{% extends '/base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ dir }}/assets/css/estilo.css" />
{% endblock %}

{% block titleDash %}Clientes{% endblock %}
{% block infoDash %}Alta, baja y modificaciones de los clientes{% endblock %}

{% block nuevo %}
    <a id="btn-new" class="btn btn-primary pull-right mt-5" data-toggle="modal" data-target="#modal-insert-customer"><i class="fa fa-plus"></i> NUEVO</a>
{% endblock %}


{% block row %}
<div class="row">
   
    <div class="col-lg-12 col-md-12">
        <div class="card filterable">
            <div class="card-header border-top-default">
                <div class="card-title">
                    <div class="title"><i class="fa fa-table"></i> Tabla de Clientes</div>
                </div>
                <div class="pull-right">
                    <form class="form-horizontal mt-0" method="post" action="{{ urlFor('search-customer') }}" role="search">
                        <div class="pull-right">
                            <div class="right-inner-addon">
                                <i class="fa fa-search"></i>
                                <input type="text" name="buscar" class="form-control" value="" placeholder="Buscar..">
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
            <div class="card-body" style="padding-top:0">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>CLIENTE</th>
                            <th>RUC</th>
                            <th>CONTACTO</th>
                            <th>CELULAR</th>
                            <th>TELEFONO</th>
                            <th>LOCALIDAD</th>
                            <th>DIRECCION</th>
                            <th>EMAIL</th>
                            <th class="text-center">EDITAR / ELIMINAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dato in cliente %}
                            <tr>
                                <td class="id-customer">{{ dato.id_cliente }}</td>
                                <td class="customer">{{ dato.cliente|upper }}</td>
                                <td class="ruc">{{ dato.ruc }}</td>
                                <td class="contact">{{ dato.contacto|upper }}</td>
                                <td class="cellphone">{{ dato.celular }}</td>
                                <td class="phone">{{ dato.telefono }}</td>
                                <td class="location">{{ dato.localidad|upper }}</td>
                                <td class="address">{{ dato.direccion }}</td>
                                <td class="email">{{ dato.email }}</td>
                                <td class="text-center">
                                    <ul class="acciones">
                                        <li>
                                            <a class="update-customer" href="" data-toggle="modal" data-target="#modal-insert-customer"><i class="fa fa-edit"></i></a>
                                        </li>
                                        <li>
                                           <a href="#" data-href="{{ urlFor('update-state-customer',{id:dato.id_cliente}) }}" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-trash-alt color-danger"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/contables/cliente/modal-insert-customer.html.twig' %}
{% include '/include/modal-delete.html.twig' %}
{% include '/include/alert.html.twig' %}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ dir }}/assets/library/modal-delete/delete.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/library/money/moneda.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/contables/cliente/add-customer.js"></script>
    <script type="text/javascript" src="{{ dir }}/assets/js/pages/contables/cliente/customer.js"></script>
    <script type="text/javascript">
        $('.side-menu li:eq(12)').addClass('active');
        $('.side-menu li:eq(17)').addClass('active2');
    </script>
{% endblock %}