 <div class="modal fade" id="modal-insert-customer" tabindex="-1" role="dialog" aria-labelledby="myModallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="cerrar_modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4><i class="fa fa-user"></i> REGISTRAR CLIENTE</h4>
                </div>

                <form class="form-horizontal" name="insert-customer" method="post" action="{{ urlFor('insert-customer') }}" data-toggle="validator">
                <input type="hidden" name="id" value="0"> 
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Cliente</label>   
                        <div class="col-sm-10">
                            <input type="text" name="customer"  class="form-control text-uppercase" autocomplete="off" required> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">RUC / CI</label>
                        <div class="col-sm-10">
                            <input type="text" name="ruc" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Contacto</label>
                        <div class="col-sm-10">
                            <input type="text" name="contact" class="form-control text-uppercase"  autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Celular</label>
                        <div class="col-sm-10">
                            <input type="text" name="cellphone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-10">
                            <input type="text" name="phone" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Localidad</label>
                        <div class="col-sm-10">
                            <input type="text" name="location" class="form-control text-uppercase" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-10">
                            <input type="text" name="address" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" autocomplete="off" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btn-insert-customer" type="submit"  class="btn btn-wd btn-info" value="INSERTAR" />
                </div>
                </form>
            </div>
        </div>
    </div> 